<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <ul class="nav">
        <li><a href="/profile">Home</a></li>
        <li>
            <form action="/search">
                <input type="text" id="search" name="search" placeholder="Search books">
                <input type="submit" id="submit" name="submit" value="Search" hidden>
            </form>
        </li>
    </ul>
    <h2>Book Details</h2>
    <div class="flexBox">
        <img class="starBook" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387738765l/1001053.jpg" alt="Book Cover Image">
        <div>
            <p><i>Title</i></p>
            <p>By Last Name, First Name</p>
            <p>Rating: </p>
            <p>Genres: </p>
            <p>ISBN: </p>
            <p>Goodreads link: </p>
        </div>
    </div>
    <p><a href="javascript:history.back()">Go back</a></p>
</body>
</html>
