<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <ul class="nav">
        <li><a href="/profile">Home</a></li>
        <li>
            <form action="/search">
                <input type="text" id="search" name="search" placeholder="Search books">
                <input type="submit" id="submit" name="submit" value="Search" hidden>
            </form>
        </li>
    </ul>
    <h2>Book Details</h2>
    <div class="flexBox">
        <img class="starBook" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387738765l/1001053.jpg" alt="Book Cover Image">
        <div>
            <p><i>{{ book.title }}</i></p>
            <p>By {{ book.author }}</p>
            <p>Rating: {{ book.rating }}</p>
            <p>Genres: {{ genres }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Goodreads link: {{ book.link }}</p>
        </div>
    </div>
	{% for review in reviews %}
	<div class="flexBox">
	  <h4>{{ review.tagline }}</h4>
	  <p>By {{ review.username }} ({{ review.rating }})</p>
	  <p>{{ review.content }}</p>
	</div>
	{% endfor %}
    <p><a href="javascript:history.back()">Go back</a></p>
</body>
</html>
