<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    {% include "navbar.html" %}
    <h2>Book Details</h2>
    <div class="flexBox">
        <img class="starBook" src="{{book.img}}" alt="Book Cover Image">
        <div>
            <p><i>{{ book.title }}</i></p>
            <p>By {{ book.author }}</p>
            <p>Rating: {{ book.rating }}</p>
            <p>Genres: {{ genres }}</p>
            <p>ISBN: {{ book.isbn }}</p>
			<p id="link"><a href={{ book.link }}>Goodreads link</a></p>
        </div>
    </div>
	{% if can_review %}
		<button id="addReviewBtn">Write Review</button>
		<script>
		  document.getElementById("addReviewBtn").addEventListener("click", function(_) {
			  document.location = "/addReview?isbn={{book.isbn}}";
		  });
		</script>
	{% endif %}
	{% if has_shelves %}
	<button id="addToShelfBtn">Add to Shelf</button>
	<select id="addToShelfSelectBtn" name="addToShelfSelectBtn">
	{% for shelf in user_shelves %}
		<option value="{{ shelf.id }}">{{ shelf.name }}</option>
	{% endfor %}
	</select>
	<script>
		document.getElementById("addToShelfBtn").addEventListener("click", function(e){
			const shelf_id = document.getElementById("addToShelfSelectBtn").value;
			fetch(`/addToShelf/${shelf_id}/{{book.isbn}}`,
					{ method: "POST" }).then(() => null);
		});
	</script>
	{% endif %}
	{% for review in reviews %}
		<div class="flexBox">
		<h4>{{ review.tagline }}</h4>
		<p>By {{ review.username }} ({{ review.rating }})</p>
		<p>{{ review.content }}</p>
		</div>
	{% endfor %}
    <br><p class="back"><a href="javascript:history.back()"><img src="/backArrow.png" alt="back arrow">&nbsp;&nbsp;Go back</a></p>
</body>
</html>
