<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <ul class="nav">
        <li><a href="/profile">Home</a></li>
        <li>
            <form action="/search">
                <input type="text" id="search" name="search" placeholder="Search books">
                <input type="submit" id="submit" name="submit" value="Search" hidden>
            </form>
        </li>
    </ul>

    <div class="flexBox">
        <h3>{{ user.display_name }}</h3>
        <input type="button" id="editUserBtn" name="editUserBtn" value="Edit User Profile">
        <script>
            document.getElementById("editUserBtn").addEventListener("click", function(e){
                document.location = "/editUser";
            });
        </script>
        <input type="button" id="LogoutBtn" name="LogoutBtn" value="Logout">
        <script>
            document.getElementById("LogoutBtn").addEventListener("click", function(e){
                document.location = "/?logout=1"; // XXX: DOES THIS WORK??
            });
        </script>
        <input type="button" id="DeleteAcctBtn" name="DeleteAcctBtn" value="Delete Account">
        <script>
            document.getElementById("DeleteAcctBtn").addEventListener("click", function(e){
                document.location = "/?deleteaccount=1";
            });
        </script>
    </div>
    <div class="shelfReviewBox">
        <div class="shelfBox">
            <div class="flexBox">
                <h4>Shelves</h4>
                <input type="button" id="addShelfBtn" name="addShelfBtn" value="Add Shelf">
                <script>
                    document.getElementById("addShelfBtn").addEventListener("click", function(e){
                        document.location = "/addShelf";
                    });
                </script>
            </div>
			{% for shelf_cons in shelves %}
            <a href="/shelf/{{ shelf_cons.shelf.id }}" class="linkBox">{{ shelf_cons.shelf.name }}<div class="smallShelf">
				{% for book in shelf_cons.books[0:5] %}
				<img src="{{book.img}}" alt="{{book.title}}">
				{% endfor %}
            </div></a>
			{% endfor %}
        </div>
        <div id="reviewBox">
            <h4>Reviews</h4>
			{% for review_cons in reviews[0:3] %}
			{% set book = review_cons.book %}
			{% set rev = review_cons.review %}
				<a href="/review" class="linkBox bookOnShelf"><div class="flexBox">
					<img src="{{book.img}}" alt="Book Cover Image">
					<div class="inlineBox">
						<p><i>{{ book.title }}</i> by {{ user.display_name }} ({{ rev.rating }})</p>
						<p>{{ rev.tagline }}</p>
						<p>{{ rev.content }}</p>
					</div>
				</div></a>
			{% endfor %}
        </div>
    </div>
</body>
</html>
