<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    {% include "navbar.html" %}
    <h2>Results</h2>
    <div>
	  {% if search_results %}
		{% for result in search_results %}
			<div class="flexBox" style="width: 80vw">
				<a href="/book/{{result.isbn}}"><img class="bookOnShelf" src="{{result.img}}" alt="{{result.title}}'s Cover Image"></a>
				<div class="searchResultInfo">
					<p id="title"><i>{{ result.title }}</i> by {{ result.author }}</p>
					<p id="rating">Rating: {{ result.rating }}</p>
					<p id="genres">Genres: {{ result.genre.replace(",", ", ") }}</p>
					<P id="ISBN">ISBN: {{ result.isbn }}</p>
					<p id="link"><a href={{ result.link }}>Goodreads link</a></a></p>
				</div>
				<div class="inlineBox" style="display: block;">
					<input type="button" id="addToShelfBtn{{result.isbn}}" name="addToShelfBtn" value="Add to:"><br>
					<select id="addToShelfSelectBtn{{result.isbn}}" name="addToShelfSelectBtn">
					{% for shelf in user_shelves %}
						<option value="{{ shelf.id }}">{{ shelf.name }}</option>
					{% endfor %}
					</select><br>
					<script>
						document.getElementById("addToShelfBtn{{result.isbn}}").addEventListener("click", function(e){
							const shelf_id = document.getElementById("addToShelfSelectBtn{{ result.isbn }}").value;
							fetch(`/addToShelf/${shelf_id}/{{result.isbn}}`,
								  { method: "POST" }).then(() => null);
						});
					</script>
					<input type="button" id="reviewBtn{{result.isbn}}" name="reviewBtn" value="Review">
					<script>
						document.getElementById("reviewBtn{{result.isbn}}").addEventListener("click", function(e){
							document.location = "/addReview?isbn={{ result.isbn }}";
						});
					</script>
				</div>
			</div>
		{% endfor %}
	{% endif %}
    </div>
</body>
</html>
