<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <ul class="nav">
        <li><a href="/profile">Home</a></li>
        <li>
            <form action="/search">
                <input type="text" id="search" name="search" placeholder="Search books">
                <input type="submit" id="submit" name="submit" value="Search" hidden>
            </form>
        </li>
    </ul>
    <h2>Results</h2>
    <div>
	  {% if search_results %}
		{% for result in search_results %}
			<div class="flexBox">
				<a href="/book/{{result.isbn}}"><img class="bookOnShelf" src="{{result.img}}" alt="Book Cover Image"></a>
				<div class="searchResultInfo">
					<div id="title"><i>{{ result.title }}</i> by {{ result.author }}</div>
					<div id="rating">Rating: {{ result.rating }}</div>
					<div id="genres">Genres: {{ result.genre }}</div>
					<div id="ISBN">ISBN: {{ result.isbn }}</div>
					<div id="link">Goodreads link: {{ result.link }}</div>
				</div>
				<div class="searchResultInfo">
					<input type="button" id="addToShelfBtn" name="addToShelfBtn" value="Add to:">
					<select id="addToShelfSelectBtn{{ result.isbn }}" name="addToShelfSelectBtn">
					{% for shelf in user_shelves %}
						<option value="{{ shelf.id }}">{{ shelf.name }} - {{ shelf.desc }}</option>
					{% endfor %}
					</select>
					<script>
						document.getElementById("addToShelfBtn").addEventListener("click", function(e){
							fetch("http://localhost:5000/addToShelf/{{ shelf.id }}/{{ result.isbn }}",
								  { method: "POST" }).then(() => null);
						});
					</script>
					<input type="button" id="reviewBtn" name="reviewBtn" value="Review">
					<script>
						document.getElementById("reviewBtn").addEventListener("click", function(e){
							document.location = "/addReview?isbn={{ result.isbn }}";
						});
					</script>
				</div>
			</div>
		{% endfor %}
	{% endif %}
    </div>
</body>
</html>
