<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    {% include "navbar.html" %}
    <h2>{{ shelf.name }}</h2>
	<h3>By {{ owner.display_name }}</h3>
	{% if owner.username == current_user|string() %}
	<button id="delShelfBtn" type="button">Delete Shelf</button>
	<script>
	  document.getElementById("delShelfBtn").addEventListener("click", function(e) {
		  fetch("/deleteShelf/{{shelf.id}}", { method: "POST" }).then(() => document.location = "/profile");
	  });
	</script>
	{% endif %}
    {% if shelf.desc != "None" and shelf.desc %}
        <p>{{ shelf.desc }}</p>
    {% endif %}
    <div class="shelf">
	  {% for book in books %}
        <a href="/book/{{book.isbn}}" class="linkBox"><div class="bookOnShelf">
            <a href="/book/{{book.isbn}}"><img src="{{book.img}}" alt="{{book.title}}"></a>
            <p><i>{{book.title}}</i></p>
            <p>By {{book.author}}</p>
			{% if owner.username == current_user|string() %}
				<button id="delFromShelf{{book.isbn}}" type="button">Remove</button>
				<script>
				  document.getElementById("delFromShelf{{book.isbn}}").addEventListener("click", function(e) {
					  fetch("/removeFromShelf/{{shelf.id}}/{{book.isbn}}", { method: "POST" }).then((res) => location.reload());
				});
				</script>
			{% endif %}
        </div></a>
		{% endfor %}
    </div>
    <br><p class="back"><a href="javascript:history.back()"><img src="/backArrow.png" alt="back arrow">&nbsp;&nbsp;Go back</a></p>
</body>
</html>
